.header-bg{
    background: url('../../image/1.jpg') no-repeat center center;
    background-size: cover;
    background-position-y: -250px;
    color: #fff;
    height: 150px;
    line-height: 150px;
}

.sidebar{
    ul,
    li{
        list-style: none;
    }
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    a{
        color: #99979c;
        &:hover{
            color: #007bff;
        }
    }
}